body, html {
    margin: 0px;
    padding: 0px;
}
.flexmenu {
    width: 100%;
    background-color: red;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left:0px;
}

.flexmenuitem {
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 150px;
}
