html, body {
    margin: 0px;

}
table {
    border-collapse: collapse;

    min-width: 100%;
}
tr {
    border-style: solid;
    border-bottom: silver;
    border-width: 1px;
    
    
}

th {
    background-color: black;
    color: white;
    
}

.sortable {
    /*cursor: pointer;*/
}

.header {
    top:0 px;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: silver;
    z-index: 50;
}

.main {
    min-width: 100%;
    padding-top: 50px;
    position: absolute;
}

input {
    width:100%;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
}

.center {
    text-align: center;
    font-weight: bold;
}